.loginbg{
    background: url(/assets/loginbg.jpg) no-repeat;
    background-size:contain;
    background-position:top;
    background: cover;
    width: 100%;
    min-height: 850px;
    background-color: #595959;
}
.signupbg{
    background: url(/assets/signupbg.jpg) no-repeat;
    background-size:contain;
    background-position:top;
    background: cover;
    width: 100%;
    min-height: 850px;
    background-color: #595959;
}
.contentpdng{
    padding-top: 20px;
}
.logoDiv{
    position: absolute;
    top: 25px;
    left: 45px;
    z-index: 999999;
    min-height: 150px;
}
/*-----------------------*/

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #6ca8df !important;
}
.nav-pills .nav-link {
    border-radius: 0;
}
.nav-link {
    display: block;
    padding: 0.5rem 6rem;
    border-right: solid 1px #fff;
}
.modal-content{
    background-color: #fff;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  }
  .btn-link{
    color:#3a7ebd;
  }
  .modal-heading h2{
    color:#fff;
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .input-group-addon {
      width: 40px !important;
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 0;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-addon, .input-group-btn {
    width: 5%;
    white-space: nowrap;
    vertical-align: middle;
}
.modal-body {
    padding: 3rem;
    border: solid 1px #2a93c9;
}
.modal-heading{
    color: #fff;
    background-image: linear-gradient(to top, #2a93c9, #2f8dbd, #3487b2, #3880a6, #3b7a9b);
}
.form-group {
    margin-bottom: 2rem;
}
.formrgn1 {
    margin-bottom: 1.5rem;
}
.btnshadow{
    background-image: linear-gradient(to bottom, #2a93c9, #2b8bbf, #2b84b5, #2b7cac, #2a75a2);
    border-bottom: solid 5px #0e4c6f;
}
.btnmrgn{
    margin-top: 65px;
}
.modal-dialog {
    max-width: 500px;
    margin: 6.75rem auto;
}
.input-group-addon{
    padding: 13px 12px;
    background-image: linear-gradient(to top, #2a93c9, #2f8dbd, #3487b2, #3880a6, #3b7a9b);
}
.inputbg{
    color: #fff !important;
    background-image: linear-gradient(to top, #2a93c9, #2f8dbd, #3487b2, #3880a6, #3b7a9b);
}
.moduleList{
   list-style: none
}

.alignRight{
    text-align: right;
}
.floatl{
    float: left;
}
.floatr{
    float: right;
}
.floatr a{
    font-size: 14px;
    padding-top: 15px;
}
.cpadding{
    padding-left: 20px;
    padding-top: 15px;
}
.cpadding1{
    padding-left: 0px;
    padding-top: 15px;
    font-size: 14px;
}
.facolor{
    color: #fff;
}

/*-----------------From Css End--------------------------*/

/*------------------Home Page Css----------------*/

.bannerbg{
    background: url(/assets/banner.jpg) no-repeat;
    min-height: 768px;
    border-bottom: solid 4px #2a93c9;
}
.logoicon{
    vertical-align: top;
    margin: 0;
    padding: 20px 0 0 15px;
}
.hdrfont{
    padding: 50px 0 20px 0;
    font-weight: bold;  
    color: #7a7a7a;
    letter-spacing: 1px;
    font-size: 2.3rem;
}
.intelfont{
    color: #2f2f2f;
}
.ufont{
    color: #2a93c9;
}
.pargraph{
    font-size: 14px;
    color: #2f2f2f;
    text-align: center;
}

.Moulik_dv1 {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 0;
    margin: 0;
    text-align: center!important;
}

.heading_1 {
    margin: 15px 0 0;
    font-size: 16pt;
    font-weight: bold;
}
.paragrapg_hdr {
    font-size: 12pt;
    color: #333;
    line-height: 25px;
    font-weight: 400;
}
.paddingtop30{
    padding-top: 50px;
    padding-bottom: 50px;
}
.div2{
    min-height: 450px;
    padding-top: 50px;
    padding-left: 50px;
    background-image: linear-gradient(to right, #91abba, #9fb5c3, #aebfcc, #bccad4, #cad4dd);
}
.heading_2, .heading_3, .heading_4{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    text-align: left;
}
.heading_3{
    padding-top: 0px;
}
.heading_4{
    color: #303030;
    font-size: 35px;
    padding-top: 50px;
    text-align: right;
}
.pargraph3{
    color: #2f2f2f;
    text-align: justify;
    padding-top: 20px;
}
.pargraph2{
    font-size: 14px;
    color: #fff;
    text-align: justify;
    padding-top:10px;
}
.getinbutton{
    padding-top: 30px;
    padding-left: 0;
    text-align: left;
}
.GetInButton {
	-moz-box-shadow: 4px 4px 0px 0px #899599;
	-webkit-box-shadow: 4px 4px 0px 0px #899599;
	box-shadow: 4px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dbdbdb));
	background:-moz-linear-gradient(top, #ededed 5%, #dbdbdb 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dbdbdb 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dbdbdb 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dbdbdb 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dbdbdb 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dbdbdb',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	border:1px solid #f2f2f2;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
    font-size:20px;
    font-weight: bold;
	padding:6px 50px;
	text-decoration:none;
}
.GetInButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbdbdb), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dbdbdb 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dbdbdb 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dbdbdb 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dbdbdb 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dbdbdb 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#ededed',GradientType=0);
	background-color:#dbdbdb;
}
.GetInButton:active {
	position:relative;
	top:1px;
}

.div3{
    min-height: 430px;
    background-image: linear-gradient(to left, #a2bdc5, #b1c8cf, #c0d2d9, #cfdde3, #dee8ed);
}
.Testimonials{
    min-height: 450px;
    background-color: #fff;
}
.testhdr{
    font-size: 35px;
    color: #2f2f2f;
    padding-bottom: 35px;
    font-weight: bold;
    padding-top: 30px;
}
/*------------- CSS--------------*/

.media-body{
    text-align: left;
}
.bannerbr{
    border-bottom: solid 3px #2a93c9;
}
.carousel {
    margin: 0px auto;
}
.carousel .item {
	color: #333;
	overflow: hidden;
    min-height: 120px;
	font-size: 13px;
}
.carousel .media {
	position: relative;
	padding: 0 0 0 20px;
	margin-left: 20px;
}
.carousel .media img {
	width: 75px;
	height: 75px;
	display: block;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 2px solid #fff;
}
.carousel .testimonial {
    color: #fff;
    position: relative;    
    background: #6e93a9;
	padding: 15px;
	margin: 0 0 20px 20px;
}
.carousel .testimonial::before, .carousel .testimonial::after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: -20px;
}
.carousel .testimonial::before {
    width: 20px;
    height: 20px;
	background: #0e4c6f;
	box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.carousel .testimonial::after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.carousel .item .row > div:first-child .testimonial {
	margin: 0 20px 20px 0;
}
.carousel .item .row > div:first-child .media {
	margin-left: 0;
}
.carousel .testimonial p {
	text-indent: 40px;
    line-height: 21px;
	margin: 0;
}
.carousel .testimonial p::before {
	content: '\201D';
    color: #fff;
    font-weight: bold;
    font-size: 68px;
    line-height: 70px;
    position: absolute;
    left: -25px;
    top: 0;
}
.carousel .overview {
	padding: 3px 0 0 15px;
}
.carousel .overview .details {
	padding: 5px 0 8px;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #2a93c9;
}
.carousel .carousel-control {
	width: 30px;
	height: 30px;
    background: #666;
    text-shadow: none;
	top: 4px;
}
.carousel-control i {
	font-size: 16px;
}
.carousel-control.left {
	left: auto;
	right: 40px;
}
.carousel-control.right {
	left: auto;
}
.carousel-indicators {
	bottom: -10px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 18px;
    height: 18px;
	border-radius: 0;
	margin: 1px 4px;
}
.carousel-indicators li {	
    background: #64a5e1;
    border: 4px solid #efefef;
    border-radius: 50%;
}
.carousel-indicators li.active {
	color: #fff;
    background: #2a93c9;    
    border: 5px double;    
    border-radius: 50%;
}
.star-rating li {
	padding: 0 2px;
}
.star-rating {
	font-size: 14px;
	color: #e0c301;
}
/*--------------------------------------*/

.footerdiv{
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2a93c9;
}
  
  section {
    padding: 60px 0; }
    section h1 {
      font-weight: 700;
      margin-bottom: 10px; }
    section p {
      margin-bottom: 30px; }
      section p:last-child {
        margin-bottom: 0; }
    section.color {
      background-color: #3cb5f9;
      color: white; }
  
  /* =Info Bar
  -------------------------------------------------------------- */
  #info-bar {
    background-color: #3cb5f9; }
    #info-bar a {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      display: inline-block;
      margin: 0;
      padding: 10px; }
      #info-bar a:hover {
        background-color: #0793e2; }
    #info-bar span.all-tutorials,
    #info-bar span.back-to-tutorial {
      display: block;
      width: 50%; }
    #info-bar span.all-tutorials {
      float: left;
      text-align: left; }
    #info-bar span.back-to-tutorial {
      float: right;
      text-align: right; }
  
  /* =Header-------------------------------------------------------------- */
  .ucolor{
      color: #2a93c9;
  }
  header {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding-left: 50px;
    background-color: #d5d5d5;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s; }
    header h1#logo {
      display: inline-block;
      height: 150px;
      line-height: 150px;
      float: left;
      font-family: "Oswald", sans-serif;
      font-size: 55px;
      color: #292929;
      font-weight: 700;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    header nav {
      display: inline-block;
      float: right; 
      padding-right: 50px;
    }
      header nav a {
        line-height: 150px;
        margin-left: 20px;
        color: #2f2f2f;
        font-weight: 700;
        font-size: 18px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        header nav a:hover {
          color: white; }
    header.smaller {
      height: 75px; }
      header.smaller h1#logo {
       /*-- width: 150px;--*/
        height: 75px;
        padding-top: 12px;
        line-height: 5px;
        font-size: 30px; }
      header.smaller nav a {
        line-height: 75px; }
        header nav a:hover{
            color: #0793e2;
        }
  /* =Footer
  -------------------------------------------------------------- */
  /* =Extras
  -------------------------------------------------------------- */
  .clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }
  
  /* =Media Queries
  -------------------------------------------------------------- */
  @media all and (max-width: 660px) {
    /* =Header
    -------------------------------------------------------------- */
    header h1#logo {
      display: block;
      float: none;
      margin: 0 auto;
      height: 100px;
      line-height: 45px;
      text-align: center; }
    header nav {
      display: block;
      float: none;
      height: 50px;
      text-align: center;
      margin: 0 auto; }
      header nav a {
        line-height: 50px;
        margin: 0 10px; }
    header.smaller {
      height: 100px; }
      header.smaller h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 30px; }
      header.smaller nav {
        height: 35px; }
        header.smaller nav a {
          line-height: 80px;
          font-size: 12px; } }
  @media all and (max-width: 600px) {
    .container {
      width: 100%; }
  
    #info-bar a {
      display: block; }
    #info-bar span.all-tutorials,
    #info-bar span.back-to-tutorial {
      width: 100%; }
    #info-bar span.all-tutorials,
    #info-bar span.back-to-tutorial {
      float: none;
      text-align: center; }
    #info-bar span.all-tutorials {
      border-bottom: solid 1px #0793e2; } }
  
      /*-----------------------------*/

      .carousel-caption {
        position: absolute;
        right: 15%;
        /* bottom: 20px; */
        top: 30%;
        left: 10%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
    }
    .bannertext35, .bannertext35b, .bannertext35g{
        font-size: 35px;
        color: #0793e2;
        text-transform: uppercase;
    }
    .bannertext35b{
        color: #292929;
    }
    .bannertext35g{
        color: #0793e2;
    }
    .bannertext20{
        font-size: 20px;
        color: #3d3d3d;
    }
    .logoicon2 h1 img{
        margin-top: -30px;
    }
    /*--------About-----------------------------*/
.logincolor{
    color: #0793e2;
}
.aboutcnt{
    min-height: 864px;
    background-color: #d5d5d6;
}